:root {
  --main-font: "Inter", sans-serif;

  --color-accent: #029FAE;
  --color-accent-hover: #007580;
  --color-black: #272343;
  --color-white: #FFFFFF;
  --color-gray: #E1E3E6;
  --color-light-gray: #F0F2F3;
  --color-dark-gray: #9A9CAA;
}
