:root {
  --main-font: "Inter", sans-serif;

  --color-accent: #029fae;
  --color-accent-hover: #007580;

  --color-black: #272343;
  --color-white: #ffffff;

  --color-newest: #01ad5a;
  --color-delivery: #f5813f;
  --color-attention: #f05c52;
  --color-attention-hover: #d95138;

  --color-gray: #636270;
  --color-gray-200: #9a9caa;
  --color-gray-400: #e1e3e6;
  --color-gray-600: #f0f2f3;
}
