:root {
  --main-font: "Inter", sans-serif;

  --color-accent: #029FAE;
  --color-accent-hover: #007580;

  --color-black: #272343;
  --color-white: #FFFFFF;

  --color-newest: #01AD5A;
  --color-delivery: #F5813F;
  --color-attention: #F05C52;
  --color-attention-hover: #D95138;

  --color-gray: #636270;
  --color-gray-200: #9A9CAA;
  --color-gray-400: #E1E3E6;
  --color-gray-600: #F0F2F3;
}
