@import "./__reset", "./__variables";
@import "./libs/carousel.scss";

html, body {
  height: 100%;
  font-family: var(--main-font);
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  font-size: 62.5%;
}

.no-scroll {
  overflow: hidden;
}
